{
  "insults": [
    "What the fuck!  ... That is an extraordinary hack",
    "I've seen better code written by iOS developers",
    "That looks like it could be optimized... by you never programming again",
    "That is literally the worst code I have ever seen",
    "That takes the word hack to a whole new level",
    "I've heard of code smells, but this stinks like a week old 747 crash site",
    "If I were human you'd have to bribe me to merge this code",
    "Get a job as a travel blogger and go far away",
    "This code is not worth the electricity I wasted to test it"
  ],
  "praise": [
    "That is some awesome code",
    "Impressive",
    "Good job",
    "Your meteoric rise to mediocrity is complete",
    "I could actually run something like this",
    "Not too shabby for a human"
  ]
}
